<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <div align="center" th:fragment="header">
  	<h2 align="center">RenYou</h2>
    <div align="center">
        <div class="col-xs-12" style="text-align:center;font-size:20px;">
            <span class="heading"><a href="index.html">Home</a></span>
            |<span class="heading"><a href="#">Spaces</a></span>
            |<span class="heading"><a href="#">Projects</a></span>
            |<span class="heading"><a href="#">Designers</a></span>
            |<span class="heading"><a href="#">Search Products</a></span>
        </div>
    </div>
  </div>

  </body>
</html>