<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg" th:fragment="header">
  <a class="navbar-brand" href="#">Renyou Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Admin Home <span class="sr-only">(current)</span></a>
      </li>
	<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products &amp; Brands
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/listProducts">View All Products</a>
          <a class="dropdown-item most-used" href="/editProduct">Add Product</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/listBrands">View All Brands</a>
          <a class="dropdown-item" href="/editBrand">Add Brand</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Designers &amp; Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/listDesigners">View All Designers</a>
          <a class="dropdown-item  most-used" href="/addDesigner">Add Designer</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/listProjects">View All Projects</a>
          <a class="dropdown-item  most-used" href="/addProject">Add a Project</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Distributors &amp; Installers
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item not-implemented" href="/listProductCategory">Distributors List</a>
          <a class="dropdown-item not-implemented" href="/addProductCategory">Add Distributor</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item not-implemented" href="/listProducts">Installers List</a>
          <a class="dropdown-item not-implemented" href="/addProduct">Add Installer</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MetaData
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/listProductAttributeTypes">List Product Attribute Type</a>
          <a class="dropdown-item" href="/editProductAttributeType">Add Product Attribute Type</a>
          <a class="dropdown-item" href="/listProductAttributes">List Product Attributes</a>
          <a class="dropdown-item" href="/editProductAttribute">Add Product Attribute</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/listProductCategory">Product Category List</a>
          <a class="dropdown-item" href="/editProductCategory">Add Product Category</a>
          <div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="/listSpaceTypes">Spaces Type List</a>
          <a class="dropdown-item" href="/editSpaceType">Add Space Type</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/listSpaces">Spaces List</a>
          <a class="dropdown-item" href="/editSpace">Add Space</a>          
        </div>
      </li>
    </ul>
  </div>
</nav>
  </body>
</html>