<!DOCTYPE html>
<html>
  <head th:fragment="head">
  <title>Renyou</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" ></link>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
  <style>
  .not-implemented {
  	color:red !important;
  }
  .img-row {
  	margin-top:40px;
  	margin-bottom:50px;
  	background-color:#f1f1f1;
  	padding:20px;
  }
  .table-font-x {
  	font-size:10px;
  }
  </style>
  </head>
  
</html>