<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
...
</head>
<body>
    <div th:replace="fragments/header :: header">
      ...
    </div>
    <div class="container">
      <div layout:fragment="content">

        <h1>Add/Update a Designer</h1>
        	<span class="alert alert-success" th:text="${message}" th:if="${message != null}"></span>
        	<br/>
        	<br/>
			<form action="/saveDesigner" method="post">
			  <div class="form-group row">
			    <label for="name" class="col-sm-2 col-form-label">Name</label>
			    <div class="col-sm-10">
			      <input type="hidden" class="form-control" name="id" th:value="${designer?.id}"></input>
			    
			      <input type="text" class="form-control" id="name" placeholder="Name" name="name" th:value="${designer?.name}"></input>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="name" class="col-sm-2 col-form-label">Description</label>
			    <div class="col-sm-10">
			   		<textarea  class="form-control" name="Description" th:text="${designer?.description}" rows="7" cols="100"></textarea>
			    </div>
			  </div>
			  <div class="form-group row input-group-lg">
			    <label for="name" class="col-sm-2 col-form-label">City</label>
			    <div class="col-sm-10">
			    
			      <input type="text" class="form-control input-sm" id="city" placeholder="City" name="city" th:value="${designer?.city}"></input>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="name" class="col-sm-2 col-form-label">Address</label>
			    <div class="col-sm-10">
			      <textarea  class="form-control" name="address" th:text="${designer?.address}" rows="3" cols="100"></textarea>
			    </div>
			  </div>
			  <div class="form-group row">
			    <div class="col-sm-10">
			      <button type="submit" class="btn btn-primary">Save</button>
			    </div>
			  </div>
			  
			</form>
			<div th:if="${designer?.projects !=null}">
				<h2>Projects</h2>
					<div th:each="project,iterStat : ${designer?.projects}" class="row">
						<div class="col-sm-10">
							<table class="table table-sm">
								<tr><td><b>Name</b></td><td th:text="${project.name}"></td></tr>
								<tr><td><b>Description</b></td><td th:text="${project.description}"></td></tr>
								<tr><td><b>Status</b></td><td th:text="${project.status}"></td></tr>
								<tr><td><b>Type</b></td><td th:text="${project.type}"></td></tr>
								<tr><td><b>Location</b></td><td th:text="${project.location}"></td></tr>
								<tr><td><b>Style</b></td><td th:text="${project.style}"></td></tr>
							</table>
						</div>
						<div>
							<a th:href="@{'/addProject?id=' + ${project.id}}" class="btn btn-warning">Edit</a>
						
						</div>
					</div>
			</div>
      </div>
      <div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
    </div>
	<!-- /.container -->


</body>
</html>