<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
...
</head>
<body>
    <div th:replace="fragments/header :: header">
      ...
    </div>
    <div class="container">
      <div layout:fragment="content">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "fragments/header.html" at runtime.                                     -->
        <!-- ============================================================================ -->
        <h1>Add/Update a Brand</h1>
        	<span class="alert alert-success" th:text="${message}" th:if="${message != null}"></span>
        	<br/>
        	<br/>
			<form action="/saveBrand" method="post">
			  <div class="form-group row">
			    <label for="name" class="col-sm-2 col-form-label">Name</label>
			    <div class="col-sm-10">
			      <input type="hidden" class="form-control" name="id" th:value="${brand?.id}"></input>
			    
			      <input type="text" class="form-control" id="name" placeholder="Name" name="name" th:value="${brand?.name}"></input>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="description" class="col-sm-2 col-form-label">Description</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="description" placeholder="Description" name="description" th:value="${brand?.description}"></input>
			    </div>
			  </div>


			  <div class="form-group row">
			    <div class="col-sm-10">
			      <button type="submit" class="btn btn-primary">Save</button>
			    </div>
			  </div>
			</form>
      </div>
      <div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
    </div>
	<!-- /.container -->


</body>
</html>