<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
...
</head>
<body>
    <div th:replace="fragments/header :: header">
      ...
    </div>
    <div class="container">
      <div layout:fragment="content">

        <h1>Add/Update a Project</h1>
        	<span class="alert alert-success" th:text="${message}" th:if="${message != null}"></span>
        	<div class="img-block" th:if="${project?.id != null}">
				<div class="row img-row" th:if="${project?.images !=null}">
					<div th:each="img,iterStat : ${project.images}" style="margin:5px;">
					Image <span th:text="${iterStat.count}"></span><br/>
					<img th:src="@{${img}}"  width="100px" height="100px"/>
					</div>
				</div>
				<span class="alert alert-success" th:text="${messageImgUpload}" th:if="${messageImgUpload != null}"></span>
				<form action="/addProjectImage" method="POST" enctype="multipart/form-data" th:if="${project?.id != null}">
				<input type="hidden" class="form-control" name="id" th:value="${project?.id}"></input>
				<div class="form-group row">
				    <label for="description" class="col-sm-2 col-form-label">Add Image</label>
				    <div class="col-sm-10">
				    	<input type="file" name="file" /><button type="submit" class="btn btn-success">Upload</button>
				    </div>
				  </div>			
				</form>
			</div>
			<form action="/saveProject" method="post">
			  <div class="form-group row">
			    <label for="name" class="col-sm-2 col-form-label">Name</label>
			    <div class="col-sm-10">
			      <input type="hidden" class="form-control" name="id" th:value="${project?.id}"></input>
			    
			      <input type="text" class="form-control" id="name" placeholder="Name" name="name" th:value="${project?.name}"></input>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="name" class="col-sm-2 col-form-label">Description</label>
			    <div class="col-sm-10">
			    	<textarea name="description" th:text="${project?.description}" rows="7" cols="100"></textarea>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="name" class="col-sm-2 col-form-label">Designer</label>
			    <div class="col-sm-10">
			    	<select id="designer" name="designerId">
			    		<option value="-1">Select designer</option>
			    		<option th:each="d : ${designerList}" 
			    			th:value="${d.id}" 
			    			th:text="${d.name}"
			    			th:selected="${d.id == project?.designerId}"></option>
			    	</select>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="name" class="col-sm-2 col-form-label">Status</label>
			    <div class="col-sm-10">
			    	<select id="status" name="status">
			    		<option value="-1">Select status</option>
			    		<option th:selected="${'Conceptual' == project?.status}">Conceptual</option>
			    		<option th:selected="${'InProgress' == project?.status}">InProgress</option>
			    		<option th:selected="${'Completed' == project?.status}">Completed</option>
			    	</select>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="name" class="col-sm-2 col-form-label">Type</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="type" placeholder="Type" name="type" th:value="${project?.type}"></input>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="name" class="col-sm-2 col-form-label">Location</label>
			    <div class="col-sm-10">
			    
			      <input type="text" class="form-control" id="location" placeholder="Location" name="location" th:value="${project?.location}"></input>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="name" class="col-sm-2 col-form-label">Style</label>
			    <div class="col-sm-10">
			    
			      <input type="text" class="form-control" id="style" placeholder="Style" name="style" th:value="${project?.style}"></input>
			    </div>
			  </div>
			  <div class="form-group row">
			    <div class="col-sm-10">
			      <button type="submit" class="btn btn-primary">Save</button>
			    </div>
			  </div>
			</form>
			<div class="img-block" th:if="${project?.id != null}">
				
				<a th:href="@{'/addProjectSpace?project_id=' + ${project.id}}" class="btn btn-success">Add Project Space</a><br/><br/>
				<div th:if="${project?.projectSpaces !=null}">
					<div th:each="projectSpace,iterStat : ${project.projectSpaces}" class="row">
						<div class="col-sm-10">
							<table class="table table-sm table-dark">
								<tr><td><b>Name</b></td><td th:text="${projectSpace.name}"></td></tr>
								<tr><td><b>Space</b></td><td th:text="${projectSpace.spaceName}"></td></tr>
								<tr><td><b>ShortDescription</b></td><td th:text="${projectSpace.shortDescription}"></td></tr>
								<tr><td><b>Description</b></td><td th:text="${projectSpace.description}"></td></tr>
							</table>
						</div>
						<div>
							<a th:href="@{'/addProjectSpace?project_id=' + ${project.id} +'&amp;project_space_id='+${projectSpace.id}}" class="btn btn-warning">Edit</a>
						
						</div>
					</div>
				</div>
			</div>
			
      </div>
      <div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
    </div>
	<!-- /.container -->


</body>
</html>