<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
...
</head>
<body>
    <div th:replace="fragments/header :: header">
      ...
    </div>
    <div class="container">
      <div layout:fragment="content">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "fragments/header.html" at runtime.                                     -->
        <!-- ============================================================================ -->
        <h1>Admin Dashboard</h1>
	    <div class="row">
	        <div class="col s3 m3">
	          <div class="card blue-grey darken-1">
	            <div class="card-content white-text">
	              <span class="card-title">Projects</span>
	              <p><span th:text="${projects}">0</span> available</p>
	            </div>
	            <div class="card-action">
	              <a href="/listProjects">View All Projects</a>
	            </div>
	          </div>
	        </div>
	        <div class="col s3 m3">
	          <div class="card blue-grey darken-1">
	            <div class="card-content white-text">
	              <span class="card-title">Designers</span>
	              <p><span th:text="${designers}"></span> available</p>
	            </div>
	            <div class="card-action">
	              <a href="/listDesigners">View All Designers</a>
	            </div>
	          </div>
	        </div>
	        <div class="col s3 m3">
	          <div class="card blue-grey darken-1">
	            <div class="card-content white-text">
	              <span class="card-title">Spaces</span>
	              <p><span th:text="${spaces}"></span> available</p>
	            </div>
	            <div class="card-action">
	              <a href="/listSpaces">View All Spaces</a>
	            </div>
	          </div>
	        </div>
	      </div>
          <div class="row">
	        <div class="col s3 m3">
	          <div class="card blue-grey darken-1">
	            <div class="card-content white-text">
	              <span class="card-title">Product Categories</span>
	              <span th:text="${productCategories}"></span> available
	            </div>
	            <div class="card-action">
	              <a href="/listProductCategory">View All Product Categories</a>
	            </div>
	          </div>
	        </div>
	        <div class="col s3 m3">
	          <div class="card blue-grey darken-1">
	            <div class="card-content white-text">
	              <span class="card-title">Brands</span>
	              <p><span th:text="${brands}"></span> available</p>
	            </div>
	            <div class="card-action">
	              <a href="/listBrands">View All Brands</a>
	            </div>
	          </div>
	        </div>
	        <div class="col s3 m3">
	          <div class="card blue-grey darken-1">
	            <div class="card-content white-text">
	              <span class="card-title">Products</span>
	              <p><span th:text="${products}"></span> available</p>
	            </div>
	            <div class="card-action">
	              <a href="/listProducts">View All Products</a>
	            </div>
	          </div>
	        </div>
	      </div>		
      </div>
      <div th:replace="fragments/footer :: footer"></div>
    </div>
	<!-- /.container -->


</body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"></link>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</html>