<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
...
</head>
<body>
    <div th:replace="fragments/header :: header">
      ...
    </div>
    <div class="container">
      <div layout:fragment="content">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "fragments/header.html" at runtime.                                     -->
        <!-- ============================================================================ -->
        <h1>Admin Dashboard</h1>
	    <div class="row">
	        <div class="col s3 m3">
	          <div class="card card-inverse card-success mb-3 text-center">
	          <div class="card-header">Projects</div>
	            <div class="card-block white-text">
	              <p><span th:text="${projects}">0</span> available</p>
	            </div>
	            <div class="card-footer">
	              <a href="/listProjects">View All Projects</a>
	            </div>
	          </div>
	        </div>
	        <div class="col s3 m3">
	          <div class="card card-inverse mb-3 text-center">
	          <div class="card-header">Designers</div>
	            <div class="card-block white-text">
	              <p><span th:text="${designers}"></span> available</p>
	            </div>
	            <div class="card-footer">
	              <a href="/listDesigners">View All Designers</a>
	            </div>
	          </div>
	        </div>
	        <div class="col s3 m3">
	          <div class="card card-inverse card-primary mb-3 text-center">
	          <div class="card-header">Spaces</div>
	            <div class="card-block white-text">
	              <p><span th:text="${spaces}"></span> available</p>
	            </div>
	            <div class="card-footer">
	              <a href="/listSpaces">View All Spaces</a>
	            </div>
	          </div>
	        </div>
	      </div>
          <div class="row">
	        <div class="col s3 m3">
	          <div class="card card-inverse card-warning mb-3 text-center">
	          <div class="card-header">Product Categories</div>
	            <div class="card-block white-text">
	            
	              <span th:text="${productCategories}"></span> available
	            </div>
	            <div class="card-footer">
	              <a href="/listProductCategory">View All Product Categories</a>
	            </div>
	          </div>
	        </div>
	        <div class="col s3 m3">
	          <div class="card card-inverse card-info mb-3 text-center">
	          <div class="card-header">Brands</div>
	            <div class="card-block white-text">
	              <p><span th:text="${brands}"></span> available</p>
	            </div>
	            <div class="card-footer">
	              <a href="/listBrands">View All Brands</a>
	            </div>
	          </div>
	        </div>
	        <div class="col s3 m3">
	          <div class="card card-inverse card-danger mb-3 text-center">
	          <div class="card-header">Products</div>
	            <div class="card-block white-text">
	              <p><span th:text="${products}"></span> available</p>
	            </div>
	            <div class="card-footer">
	              <a href="/listProducts">View All Products</a>
	            </div>
	          </div>
	        </div>
	      </div>		
      </div>
      <div th:replace="fragments/footer :: footer"></div>
    </div>
	<!-- /.container -->


</body>
</html>