<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
...
</head>
<body>
    <div th:replace="fragments/header-web :: header">
      ...
    </div>
    <div class="container">
      <div layout:fragment="content">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "fragments/header.html" at runtime.                                     -->
        <!-- ============================================================================ -->
	    <div class="row">
	    	<h2>Featured Projects</h2>
	    	<div class="slick-car">
	    		<div th:each="project : ${projects}">
	    			<div align="center" th:each="img: ${project.images}">
				      <img height="400px;" th:src="@{${img.path}}"/>
				      <div>
					    <span style="font-weight:bold" th:text="${project.name}"></span><br/>
					    <span th:text="${project.description}"></span>
					  </div>
				  </div>
	    		</div>
	    	</div>
	    	<br/>
	    	<h2>Top Designers</h2>
	        <div class="slick-car-d">
	    		<div th:each="designer : ${designers}">
	    				<div class="row">
		    				<div th:each="img,iterStat : ${designer.images}" class="col-sm-4">
		    					<img th:src="@{${img}}" height="200px"/>
		    				</div>
		    				<div class="col-sm-8">
						    <span style="font-weight:bold;font-size:12px" th:text="${designer.name}"></span><br/><br/>
						    <span th:text="${designer.description}"></span>
						    <span th:text="${designer.city}"></span>
						    </div>
					    </div>
	    		</div>
	    	</div>
	    </div>
          		
      </div>
      <div th:replace="fragments/footer :: footer"></div>
    </div>
	<!-- /.container -->


</body>
<script>
$('.slick-car').slick({
	autoplay: true,
	autoplaySpeed: 2000,
	dots: true,
	infinite: true,
	speed: 1000,
	cssEase: 'linear'
	});
	
$('.slick-car-d').slick({
	autoplay: true,
	autoplaySpeed: 2000,
	dots: true,
	infinite: true,
	speed: 1000,
	cssEase: 'linear'
	});
</script>
</html>